/* CSS */

/* Global Styling & Grid */
html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template: 200px auto auto / auto;
  grid-template-areas:
    'h'
    'c'
    'f';
  grid-gap: 70px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

input, textarea, select { font-family:inherit; }

header {
  grid-area: h;
}

.content {
  grid-area: c;
}

footer {
  grid-area: f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

/* Content container */
/* Different content containers for different pages */

/* index.html */
#index {
  display: grid;
  grid-template-areas: 
    's'
    'w'
    'm'
    'b';
  grid-gap: 70px;
}

#index > #showcase {
  grid-area: s;
}

#index > #why-plan {
  grid-area: w;
}

#index > main {
  grid-area: m;
}

#index > #book {
  grid-area: b;
}

/* appointment.html */
#appointment {
  display: grid;
  grid-template-areas: 
    'f';
  grid-gap: 70px;
}

#appointment > form {
  grid-area: f;
}

/* Header */
header {
  /* Grid layout for the nav bar */
  display: grid;
  grid-template-columns: 1fr 1fr .5fr 1fr 1fr;
  grid-template-areas: 
    'a b c d e';

  width: 100%;
  align-items: center;
  font-size: 17px;
  font-family: 'Playfair Display', Times, serif;

  /* Flower header */
  background: url(../images/header.png);
  background-size: cover;
}

/* Grid layout for the nav items */
header > #home {
  grid-area: a;
}

header > #work {
  grid-area: b;
}

header > #branding {
  grid-area: c;
}

header > #appointment-href {
  grid-area: d;
}

header > #about {
  grid-area: e;
}

/* Anchor tag styles */
header a {
  margin: 0 5% 0 5%;
  color: #000000;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  transition: transform .2s;
}

header a:hover {
  color: #5f5f4f;
  transform: scale(1.1);
}

/* To make the items different from branding */
header a:not(#branding) {
  font-size: 20px;
  font-variant: small-caps;
}

/* Style for the branding i.e. Zen Weddings*/
#branding {
  margin: 12px;
  padding: 22% 8% 22% 8%;
  border-style: double;
  border-width: 5px;
  font-family: 'Great Vibes', Times, serif;
  font-size: 35px;
}

/* Showcase */
#showcase {
  /* Using flex because it makes centering easy */
  display: flex;

  /* The showcase image */
  background: #ffffff url("../images/showcase/wedding-3.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 400px;

  /* Centering everything */
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 80%;
  margin: auto;
  transition: transform .25s;
  font-family: 'Playfair Display', Times, serif;
}

/* To add a blur behind the text to improve readibility */
#showcase > div {
  backdrop-filter: blur(60px);
  width: 100%;
}

/* Changing style of the headings */
#showcase > div > h1 {
  font-size: 35px;
  font-weight: 400;
}

#showcase > div > h4 {
  font-size: 16px;
  font-weight: 500;
}

/* Scale on hover */
#showcase:hover {
  transform: scale(1.08);
}

/* "Why plan with us" section */
#why-plan {
  /* Flex because centering */
  display: flex;
  padding: 5% 10% 5% 10%;

  /* For centering */
  text-align: center;
  justify-content: center;

  background: #eeeee8;
  font-size: 18px;
}

/* Keeping text in middle */
#why-plan > div {
  margin: auto;
  width: 80%;
}

/* Heading Styles */
#why-plan h2 {
  font-family: 'Playfair Display', Times, serif;
  font-weight: 400;
  font-size: 35px;
  font-variant: small-caps;
}

/* Skills or Main */
/* Main container containing children in the center */
main {
  width: 90%;
  margin: auto;
  padding: 10px;
}

/* Container of all the skill cards */
main > ul {
  display: grid;
  /* Distributes the extra width when left and auto fits as many can fit in the view */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 50px;
  padding: 0;
}

main > ul > li {
  position: relative;
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, .7);
  filter: grayscale(10%);
  transition: transform .2s;
}

/* To add effects on hover */
main > ul > li:hover, main > ul > li:hover > figure {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 0px 0px 0px white;
}

/* To add effects on hover */
main > ul > li:hover > figure {
  box-shadow: 2px 1px 8px rgba(0, 0, 0, .7);
}

main > ul > li > figure:hover {
  transform: scale(1.05);
}

main > ul > li > figure {
  max-height: 200px;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  position: relative;
  margin: 0;
  transition: transform .2s;
}

main > ul > li > figure > img {
  transition: filter .2s;
  width: 100%;
}

main > ul > li > figure > figcaption {
  /* To position the caption at the bottom of the card */
  position: absolute;
  bottom: 0;

  background-color: rgba(0, 0, 0, .7);
  width: 100%;
}

/* Header styles */
main > ul > li > figure > figcaption > h3 {
  color: #ffffff;
  margin: 0;
  padding: 5px;
  font-size: 22px;
  font-variant: small-caps;
}

main > ul > li > p {
  /* To position the element inside the image */
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5%;

  /* To only show up on hover */
  opacity: 0;
  transition: opacity .2s;
  text-align: center;

  font-size: 17px;
  line-height: 1.5;
  padding: 17px 13px;
  color: #000000;
  margin-top: 10px;
}

/* Adds blur on hover */
main > ul > li:hover > figure > img {
  filter: blur(10px);
}

/* To only show up on hover */
main > ul > li:hover > p {
  opacity: 1;
}

/* Appointment or Booking */
#book {
  /* Flex because centering */
  display: flex;
  width: 100%;
  background: #eeeee8 url("../images/showcase/wedding-1.jpg") fixed;
  background-size: cover;
  min-height: 300px;
}

#book > .container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px 0 30px 0;

  /* For legibility */
  backdrop-filter: blur(6px) grayscale(0.3);;
}

/* Header Styles */
#book > .container > h2 {
  width: 80%;
  margin: auto;
  font-variant: small-caps;
  font-size: 28px;
}

/* Centering the text */
#book > .container > p {
  width: 80%;
  margin: auto;
}

/* Make An Appointment button */
#book > .container > a {
  width: 80%;
  margin: auto;
  padding: 12px 15px 15px 15px;
  background: #ffdcf7;
  border: none;

  /* Font-Styles */
  color: #000000;
  font-family: 'Playfair Display', Times, serif;
  font-variant: small-caps;
  text-decoration: none;
  font-size: 25px;

  /* Smooth Animations */
  transition: padding .2s;
}

/* Making the button, not text, bigger on hover */
#book > .container > a:hover {
  padding: 15.2px 18.5px 18.5px 18.5px;
  background: #ffe2f8;
}

/* Form */
div#appointment > div {
  width: 100%;
  padding: 50px 0px;

  background: url(../images/showcase/wedding-3.jpg) fixed;
  background-size: cover;
}
div#appointment > div > form {
  display: grid;
  grid-template-areas: 
    'h h h h'
    '. f l .'
    '. e m .'
    '. s s .';
  grid-gap: 30px;

  width: 80%;
  margin: auto;
  padding: 20px 0;

  backdrop-filter: blur(10px);
  border: 5px double rgba(0, 0, 0, .1);
}

div#appointment > div > form > h2 {
  grid-area: h;

  text-align: center;
}

div#appointment > div > form > input[name="firstName"] {
  grid-area: f;
}

div#appointment > div > form > input[name="lastName"] {
  grid-area: l;
}

div#appointment > div > form > input[name="email"] {
  grid-area: e;
}

div#appointment > div > form > input[name="mob_no"] {
  grid-area: m;
}

div#appointment > div > form > div#submit {
  grid-area: s;

  display: flex;
  align-items: center;
  justify-content: center;
}

div#appointment > div > form > input {
  border-radius: 30px;
  border-width: 1px;
  border-color: #b9b9b4;
  background: #e2e2e2;
  padding: 5px 0px; 
  width: 100%;

  text-align: center;
  font-size: 16px;

  transition: transform .2s;
}

div#appointment > div > form > input:hover {
  transform: scale(1.08);
}

div#appointment > div > form > div#submit > input[type="submit"] {
  padding: 5px 18px;

  border-width: 1px;
  border-color: #ebcdcd;
  border-radius: 30px;
  background: #f7ecec;
  color: #333333;
  font-size: 16px;

  transition: transform .2s;
}

div#appointment > div > form > div#submit > input[type="submit"]:hover {
  transform: scale(1.08);
}


/* Footer */
footer {
  /* Grid template for the cards */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    's s s'
    'i r c';
  background: #e2e2e2;
}

/* Defining grid areas for each element */
footer > #slogan {
  grid-area: s;
}

footer > #socials {
  grid-area: i;
}

footer > #contacts {
  grid-area: c;
}

footer > #copyright {
  grid-area: r;
}

/* Centering the items */
footer > .container {
  text-align: center;
}

/* For having diff style on all h2 but the slogan */
footer > .container:not(#slogan) > h2 {
  font-variant: small-caps;
  font-size: 32px;
}

/* The slogan looks cool now */
footer > #slogan > h2 {
  font-family: 'Great Vibes', Times, serif;
  font-size: 45px;
  margin-bottom: 0;
}

/* Styling */
footer > .container > ul {
  list-style-type: none;
  padding: 0 20px;
  font-size: 15px;
}

/* Anchor tag style for removing the disgusting defaults */
footer > .container > ul > li > a {
  text-decoration: none;
  color: #000000;
}

/* For hover */
footer > .container > ul > li:hover, footer > .container > ul > li:hover > a {
  transform: scale(1.05);
  color: #797978;
}

/* To not have weird hover effects on things that ain't having href */
footer > .container > ul > .exclude:hover {
  transform: scale(1.0);
  color: #000000;
}

/* Mobile responsiveness */
@media only screen and (max-width:767px) {

  body {
    grid-template: auto auto auto / auto;
  }

  /* Header */
  header {
    display: grid;
    grid-gap: 10px;
    /* Changed grid template to a row arrangement */
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'c'
    'a'
    'b'
    'd'
    'e';
  }
  
  /* Changing size for legibility */
  #branding {
    margin: auto;
    margin-top: 50px;
    padding: 10px 5px;
    font-size: 45px;
  }

  header > a:not(#branding) {
    font-size: 30px;
  }

  /* Footer */
  footer {
    /* Changing grid template to rows because mobile */
    grid-template-columns: 1fr;
    grid-template-areas: 
      's'
      'i'
      'c'
      'r';
  }

  main > ul {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

}

@media only screen and (max-width:600px) {

  div#appointment > div > form {
    grid-template-areas: 
      'h'
      'f'
      'l'
      'e'
      'm'
      's';
    padding: 10px 25px;
  }

  div#appointment > div > form > input[type="text"],
  div#appointment > div > form > input[type="email"],
  div#appointment > div > form > input[type="tel"] {
    width: 60%;
    margin: auto;
  }
}